@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.footer {
    display: flex;
    padding: 50px;
    background-color: #121315;
    color: #a7a7a7; 
    gap: 3rem;
    align-items: center;   
}

.column-1 {
    width: 100%;
    
}

.column {
    width: 100%;   
}

.column h3 {
    padding-bottom: 10px;
}

.column-1 h3 {
    padding-bottom: 10px;
}





/*RESPONSIVE*/

@media screen and (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: column;
    }

    .column-1 {
        padding-right: 0;
    }


   
  }
