@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.footer {
    display: flex;
    padding: 30px 30px 50px;
    background-color: #29424a;
    color: #c2bfbf; 
    gap: 3rem;
    align-items: center;
}

.columns {
    display: flex;
    width: 80%;
    margin: 0 15px 30px;
}

.column-1 {
    width: 100%;
    
}

.column {
    width: 100%;   
}

.column h3 {
    padding-bottom: 10px;
}

.column-1 h3 {
    padding-bottom: 10px;
}





/*RESPONSIVE*/

@media screen and (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: column;
    }

    .columns {
        display: flex;
        flex-direction: column;
    }

    .column-1 {
        padding-right: 0;
    }


   
  }
